@model FinanceManager.BLL.DTO.AccountDTO
@{
    ViewData["Title"] = "Account Info";
}

<!DOCTYPE html>

<html>
<body>
<div>
    <h3>Account Info</h3>
    <table>
        <tr>
            <td>
                <p>Number</p>
            </td>
            <td>
                <p>Count</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>@Model.Number</p>
            </td>
            <td>
                <p>@Model.Count</p>
            </td>
        </tr>
    </table>
    
    <form method="get" action="~/Account/CheckCount">
        <p>
            <input type="hidden" name="_accountId" value="@Model.Id"/>
        </p>
        <p>
            <label>Choose a check type</label>
            @Html.DropDownList("checkType", Html.GetEnumSelectList(typeof(CheckType)))
        </p>
        <p>
            <label>Choose a category</label>
            @Html.DropDownList("categoryName", ViewBag.Categories as SelectList)
            @* <input type="text" name="categoryName"/> *@
        </p>
        <p>
            <input type="submit" value="Check"/>
        </p>
    </form>
</div>
</body>
</html>