@model IEnumerable<CategoryViewModel>

@{
    // Layout = null;
    ViewData["Title"] = "Available categories";
}

<!DOCTYPE html>

<html>
<head>
    <title>Available categories</title>
</head>
<body>
    <div>
        <h3>Categories</h3>
        <p>@Html.ActionLink("Add new category", "Create")</p>
        <table>
            <tr>
                <td>
                    <p>Name</p>
                </td>
                <td></td>
            </tr>
            @foreach (var category in Model)
            {
                <tr>
                    <td>
                        <p>@category.Name</p>
                    </td>
                    <td>
                        <p>
                            @* @Html.ActionLink("Update", "EditBook", new {id = b.Id}) | *@
                            @* @Html.ActionLink("Delete", "Remove", new {number = account.Number}) *@
                            @Html.RouteLink("Delete", new { controller = "Category", action = "Remove", model = category })
                        </p>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>